{% extends './base.html' %}

{% block content %}
{% load static %}
<article class="article-page">
    <div class="page-image">
      <div class="cover-image" style="background: url(../static/img/news.jpg) center no-repeat; background-size: cover;"></div>
    </div>
    <div class="wrapper">
      <div class="page-content">
        <div class="header-page">
          <h1 class="page-title"> {{ Post.title }} </h1>
        </div>
        <p class="info">{{ Post.updated_at }}, {{ Post.useremail }}</p>
        <!-- content here! -->
        <p class="content_detail"> {{ Post.content }} </p>


        {% include './author-box.html' %}
      </div>
      <div class="comments_input">
        <form action="" method="POST">
            {% csrf_token %}
            <label> 닉네임 (미기입시 익명처리)</label>
            <br/>
            <input class="user_input" type="text" name="user" placeholder="닉네임"></input>
            <br/>
            <textarea class="content_input" cols="40" rows="10" name="content" placeholder="댓글을 작성하세요"></textarea>
            <br/>
            <input class="submit" type="submit"/>
        </form>
      </div>
      <div class="comments">
        {% for comment in Comments %}
            <p class="comment_user"> {{ comment.user }} / {{ comment.updated_at }}</p>
            <p class="comment_contents"> {{ comment.content }} </p>
        {% endfor %}
      </div>
    </div> <!-- End Wrapper -->
</article>

{% endblock content %}