{% extends './base.html' %}

{% block content %}
{% load static %}
<article class="article-page">
    <div class="page-image">
      <div class="cover-image" style="background: url(../static/img/news.jpg) center no-repeat; background-size: cover;"></div>
    </div>
    <div class="wrapper">
      <div class="page-content">
        <div class="header-page">
          <h1 class="page-title"> 게시글 작성 </h1>
        </div>
        <form action="" method="POST">
            {% csrf_token %}
            <label> 닉네임 (미기입시 익명처리)</label>
            <br/>
            <input class="user_input" type="text" name="email" placeholder="닉네임"></input>
            <br/>
            <label> 제목 </label>
            <br/>
            <input class="title_input" type="text" name="title" placeholder="제목"></input>
            <br/>
            <label> 내용 </label>
            <br/>
            <textarea class="content_input" cols="40" rows="10" name="content" placeholder="본문을 작성하세요"></textarea>
            <br/>
            <input class="submit" type="submit"/>
        </form>

        <!-- content here! -->
        {% include './author-box.html' %}
      </div>
    </div> <!-- End Wrapper -->
</article>

{% endblock content %}