{% extends './base.html' %}

{% block content %}
{% load static %}
<article class="article-page">
    <div class="page-image">
      <div class="cover-image" style="background: url(../static/img/virus.png) center no-repeat; background-size: cover;"></div>
    </div>
    <div class="wrapper">
      <div class="page-content">
        <div class="header-page">
          <h1 class="page-title"> 코로나 19 정보 </h1>
        </div>

        <!-- content here! -->
        <h1 id="오늘의-브리핑-">오늘의 브리핑 <a href="https://www.youtube.com/watch?v=bmEcykEECgQ&amp;feature=youtu.be">#</a></h1>

<ul>
  <li>전국적 확산대비 감염병 위기경보 ‘심각’발령</li>
  <li>중앙재난안전대책본부 격상 범정부 역량 결집</li>
  <li>대구/경북 지역 적극적 방역조치 및 지원</li>
  <li>학생 안전보호 유/초중고 신학기 개학 연기</li>
</ul>

<h1 id="발생동향-">발생동향 <a href="http://ncov.mohw.go.kr/bdBoardList_Real.do?brdId=&amp;brdGubun=&amp;ncvContSeq=&amp;contSeq=&amp;board_id=&amp;gubun=">#</a></h1>

<h1 id="증상-및-신고-방법">증상 및 신고 방법</h1>

<h3 id="증상">증상</h3>

<ul>
  <li>무기력감, 37.5도 이상의 고열, 기침, 인후통, 가래, 근육통, 두통, 호흡곤란, 폐렴</li>
</ul>

<h3 id="신고">신고</h3>

<ul>
  <li>1339 <a href="http://www.cdc.go.kr/contents.es?mid=a20701000000">#</a></li>
  <li>지역번호 + 120 콜센터</li>
  <li>선별진료소 <a href="http://www.mohw.go.kr/react/popup_200128.html">주변 선별진료소 찾기</a></li>
</ul>

<h1 id="치료-및-예방법">치료 및 예방법</h1>
<ul>
  <li>현재까지 코로나-19에 대해 정립된 치료법은 없습니다. 증상에 따른 약제를 사용하고 에이즈 치료제나 항말라리아 제제를 이용하여 치료한 사례가 있으며 호흡곤란을 호소하는 경우 산소 마스크를 적용할 수 있습니다. 중증으로 진행하는 경우 전문가와 상의하는 것이 필요합니다.</li>
  <li>예방법으로 손을 자주 씻고, 마스크를 착용해야 합니다.</li>
</ul>


        {% include './author-box.html' %}
      </div>
    </div> <!-- End Wrapper -->
</article>

{% endblock content %}